openapi: 3.0.3
info:
  title: Chimely API
  description: |
    Two planes, one binary:

    * **Management plane** — called by the customer's backend with a Bearer API
      key. Creates notifications and broadcasts, manages subscribers and their
      preferences. API keys are environment-scoped; the environment is implied
      by the key.
    * **Subscriber plane** — called by `@chimely/client` (the `<Inbox />`
      widget) on behalf of one end user. Authenticated with an HMAC subscriber
      hash: `hex(HMAC-SHA256(environment.subscriber_hmac_secret, subscriber_id))`
      computed by the customer's backend. Mandatory in environments with
      `require_subscriber_hash = true` (the production default); optional in
      dev environments so the quickstart works without a backend.

    Subscriber-plane scoping travels in headers (or query parameters where
    headers are impossible, i.e. `EventSource`):

    | Header | Query fallback | Meaning |
    |---|---|---|
    | `X-Chimely-Environment` | `environment` | environment slug |
    | `X-Chimely-Subscriber` | `subscriber_id` | customer-provided subscriber id |
    | `X-Chimely-Subscriber-Hash` | `subscriber_hash` | HMAC hash (when required) |

    **Idempotency.** Every create accepts `idempotency_key` (client-supplied or
    server-generated and echoed). Uniqueness is per environment per resource
    type. A retried key returns the original response byte-identically with
    HTTP 200 (first acceptance is 201) — acknowledged-and-dropped.

    **Timestamps** are RFC 3339 UTC. **IDs** are
    [TypeIDs](https://github.com/jetify-com/typeid): a resource prefix plus a
    UUIDv7 in Crockford base32 — `notif_01h455vb4pex5vsknk084sn02q` for
    notifications, `bcast_…` for broadcasts. The prefix is part of the id;
    treat ids as opaque strings.

    **Errors** use a single envelope: `{"error": {"code", "message"}}`. Branch on
    `code` (stable, machine-readable), never on `message` (human text that may
    change). Status codes are conventional and 429 carries `Retry-After`.

    | Code | HTTP | Meaning |
    |---|---|---|
    | `invalid_request` | 400 | Malformed request or failed validation. |
    | `unauthorized` | 401 | Missing or invalid credentials (API key, subscriber hash, or admin session). |
    | `forbidden` | 403 | Authenticated, but the role or scope lacks the capability. |
    | `not_found` | 404 | No such resource in this environment. |
    | `conflict` | 409 | Well-formed, but the current state forbids it (guard rail or duplicate). |
    | `rate_limited` | 429 | Request rate limit exceeded. Retry after `Retry-After` seconds. |
    | `too_many_connections` | 429 | Per-subscriber live-stream connection cap reached. |
    | `internal` | 500 | Unexpected server error. The detail is logged, never returned. |
  version: 0.1.0
servers:
- url: https://chimely.dev
paths:
  /admin/api/dlq:
    get:
      tags:
      - admin
      summary: List dead letters
      operationId: adminListDeadLetters
      responses:
        '200':
          description: Parked jobs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminDeadLetter'
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
      security:
      - AdminSession: []
  /admin/api/dlq/replay-all:
    post:
      tags:
      - admin
      summary: Replay all dead letters
      operationId: adminReplayAllDeadLetters
      responses:
        '200':
          description: Replayed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminReplayResult'
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
      security:
      - AdminSession: []
  /admin/api/dlq/{job_id}/replay:
    post:
      tags:
      - admin
      summary: Replay dead letter
      description: Requeue one failed job for another attempt.
      operationId: adminReplayDeadLetter
      parameters:
      - name: job_id
        in: path
        description: Job TypeID (job_…).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Replayed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminReplayResult'
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such parked job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such parked job
      security:
      - AdminSession: []
  /admin/api/environments:
    get:
      tags:
      - admin
      summary: List environments
      operationId: adminListEnvironments
      responses:
        '200':
          description: Environments.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminEnvironment'
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
      security:
      - AdminSession: []
    post:
      tags:
      - admin
      summary: Create an environment
      operationId: adminCreateEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateEnvironmentRequest'
        required: true
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminEnvironmentDetail'
        '400':
          description: Validation error or slug already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: slug must be 1-255 characters
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
      security:
      - AdminSession: []
  /admin/api/environments/{env_id}:
    get:
      tags:
      - admin
      summary: Get an environment
      operationId: adminGetEnvironment
      parameters:
      - name: env_id
        in: path
        description: Environment TypeID (env_…).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminEnvironmentDetail'
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such environment
      security:
      - AdminSession: []
  /admin/api/environments/{env_id}/api-keys:
    get:
      tags:
      - admin
      summary: List API keys
      operationId: adminListApiKeys
      parameters:
      - name: env_id
        in: path
        description: Environment TypeID (env_…).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Keys.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminApiKey'
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such environment
      security:
      - AdminSession: []
    post:
      tags:
      - admin
      summary: Create an API key
      operationId: adminCreateApiKey
      parameters:
      - name: env_id
        in: path
        description: Environment TypeID (env_…).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateApiKeyRequest'
        required: true
      responses:
        '201':
          description: Created; `key` is shown once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminApiKeyCreated'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: name must be 1-255 characters
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such environment
      security:
      - AdminSession: []
  /admin/api/environments/{env_id}/api-keys/{key_id}/revoke:
    post:
      tags:
      - admin
      summary: Revoke an API key
      operationId: adminRevokeApiKey
      parameters:
      - name: env_id
        in: path
        description: Environment TypeID (env_…).
        required: true
        schema:
          type: string
      - name: key_id
        in: path
        description: API key TypeID (key_…).
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Revoked (now or already).
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such API key
      security:
      - AdminSession: []
  /admin/api/environments/{env_id}/broadcasts:
    post:
      tags:
      - admin
      summary: Compose a broadcast
      description: Send one announcement to every subscriber in the environment, from the admin dashboard.
      operationId: adminCreateBroadcast
      parameters:
      - name: env_id
        in: path
        description: Environment TypeID (env_…).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateBroadcastRequest'
        required: true
      responses:
        '200':
          description: Idempotent replay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcast'
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcast'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: category must be 1–255 characters
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such environment
      security:
      - AdminSession: []
  /admin/api/environments/{env_id}/hmac/rotate:
    post:
      tags:
      - admin
      summary: Begin HMAC rotation
      description: Generate a new subscriber HMAC secret while keeping the old one valid during the changeover, so live inbox sessions are not interrupted. Complete the rotation once every backend uses the new secret.
      operationId: adminRotateHmac
      parameters:
      - name: env_id
        in: path
        description: Environment TypeID (env_…).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Rotated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminHmacRotation'
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such environment
      security:
      - AdminSession: []
  /admin/api/environments/{env_id}/hmac/rotate/complete:
    post:
      tags:
      - admin
      summary: Complete HMAC rotation
      operationId: adminCompleteHmacRotation
      parameters:
      - name: env_id
        in: path
        description: Environment TypeID (env_…).
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Previous secret cleared.
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such environment
      security:
      - AdminSession: []
  /admin/api/environments/{env_id}/notifications:
    get:
      tags:
      - admin
      summary: List notifications
      operationId: adminListNotifications
      parameters:
      - name: env_id
        in: path
        description: Environment TypeID (env_…).
        required: true
        schema:
          type: string
      - name: subscriber_id
        in: path
        description: Customer-provided subscriber id.
        required: true
        schema:
          type: string
          nullable: true
      - name: category
        in: path
        required: true
        schema:
          type: string
          nullable: true
      - name: after
        in: path
        description: Lower bound on `visible_at` (inclusive), RFC 3339.
        required: true
        schema:
          type: string
          format: date-time
          nullable: true
      - name: before
        in: path
        description: Upper bound on `visible_at` (exclusive), RFC 3339.
        required: true
        schema:
          type: string
          format: date-time
          nullable: true
      - name: limit
        in: path
        required: true
        schema:
          type: integer
          format: int64
          nullable: true
      - name: cursor
        in: path
        description: Opaque keyset cursor from the previous page's `next_cursor`.
        required: true
        schema:
          type: string
          nullable: true
      responses:
        '200':
          description: A page of notifications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminNotificationPage'
        '400':
          description: Malformed cursor or out-of-range limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: malformed cursor
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such environment
      security:
      - AdminSession: []
  /admin/api/environments/{env_id}/notifications/{notif_id}/timeline:
    get:
      tags:
      - admin
      summary: Notification timeline
      operationId: adminNotificationTimeline
      parameters:
      - name: env_id
        in: path
        description: Environment TypeID (env_…).
        required: true
        schema:
          type: string
      - name: notif_id
        in: path
        description: Notification TypeID (notif_…).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The timeline so far.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminNotificationTimeline'
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such notification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such notification
      security:
      - AdminSession: []
  /admin/api/environments/{env_id}/subscribers/{subscriber_id}:
    get:
      tags:
      - admin
      summary: Get a subscriber
      operationId: adminGetSubscriber
      parameters:
      - name: env_id
        in: path
        description: Environment TypeID (env_…).
        required: true
        schema:
          type: string
      - name: subscriber_id
        in: path
        description: Customer-provided subscriber id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Subscriber view.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSubscriberView'
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Authenticated but the role lacks the capability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such subscriber.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such subscriber
      security:
      - AdminSession: []
  /admin/api/login:
    post:
      tags:
      - admin
      summary: Log in
      description: Sign in to the admin dashboard with email and password. On success a session cookie is set.
      operationId: adminLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLoginRequest'
        required: true
      responses:
        '200':
          description: Logged in; sets the session cookie.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMe'
        '401':
          description: Invalid email or password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid email or password
        '403':
          description: Missing X-Chimely-Admin header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: missing X-Chimely-Admin header
  /admin/api/logout:
    post:
      tags:
      - admin
      summary: Log out
      operationId: adminLogout
      responses:
        '204':
          description: Logged out.
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Missing X-Chimely-Admin header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: missing X-Chimely-Admin header
      security:
      - AdminSession: []
  /admin/api/me:
    get:
      tags:
      - admin
      summary: Current admin user
      operationId: adminMe
      responses:
        '200':
          description: The current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMe'
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
      security:
      - AdminSession: []
  /admin/api/users:
    get:
      tags:
      - admin
      summary: List admin users
      operationId: adminListUsers
      responses:
        '200':
          description: Users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminUserView'
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Requires user:manage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
      security:
      - AdminSession: []
    post:
      tags:
      - admin
      summary: Create an admin user
      operationId: adminCreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateUserRequest'
        required: true
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserView'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: a valid email is required
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Requires user:manage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '409':
          description: Email already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: conflict
                  message: a user with that email already exists
      security:
      - AdminSession: []
  /admin/api/users/{user_id}:
    delete:
      tags:
      - admin
      summary: Delete an admin user
      operationId: adminDeleteUser
      parameters:
      - name: user_id
        in: path
        description: Admin user TypeID (adm_…).
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted.
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Requires user:manage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such user
        '409':
          description: Self-delete or last-admin guard rail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: conflict
                  message: you cannot delete your own account
      security:
      - AdminSession: []
    patch:
      tags:
      - admin
      summary: Update an admin user
      operationId: adminUpdateUser
      parameters:
      - name: user_id
        in: path
        description: Admin user TypeID (adm_…).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUpdateUserRequest'
        required: true
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserView'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: role must be viewer, operator, developer, or admin
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Requires user:manage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such user
        '409':
          description: Self-disable or last-admin guard rail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: conflict
                  message: you cannot disable your own account
      security:
      - AdminSession: []
  /admin/api/users/{user_id}/password:
    post:
      tags:
      - admin
      summary: Set user password
      operationId: adminSetUserPassword
      parameters:
      - name: user_id
        in: path
        description: Admin user TypeID (adm_…).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSetPasswordRequest'
        required: true
      responses:
        '204':
          description: Password updated.
        '400':
          description: Password too short.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: password must be at least 12 characters
        '401':
          description: Authentication required (no or expired session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: admin session required
        '403':
          description: Not user:manage and not the target user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: your role does not permit this action
        '404':
          description: No such user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such user
      security:
      - AdminSession: []
  /v1/broadcasts:
    post:
      tags:
      - management
      summary: Create a broadcast
      description: Send one announcement to every subscriber in the environment. A subscriber sees it only if it was created at or after they were.
      operationId: createBroadcast
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBroadcastRequest'
        required: true
      responses:
        '200':
          description: Idempotent replay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcast'
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcast'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: category must be 1–255 characters
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid API key
        '429':
          $ref: '#/components/responses/RateLimited'
      security:
      - ApiKeyBearer: []
  /v1/inbox/archive-all:
    post:
      tags:
      - subscriber
      summary: Archive all
      description: Archive every item, direct and broadcast, for this subscriber. Read state is untouched.
      operationId: archiveAll
      responses:
        '200':
          description: Watermark moved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboxCounts'
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/archive-read:
    post:
      tags:
      - subscriber
      summary: Archive read items
      description: Archive every currently read item, direct and broadcast. Runs asynchronously as a resumable job; completion is signaled by an SSE hint and ETag movement.
      operationId: archiveRead
      responses:
        '202':
          description: Accepted. The job runs asynchronously.
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/broadcasts/{id}/archive:
    post:
      tags:
      - subscriber
      summary: Archive broadcast
      description: Archive one broadcast for this subscriber. Idempotent.
      operationId: archiveBroadcast
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/BroadcastId'
      responses:
        '204':
          description: Archived (now or already).
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
        '404':
          description: Resource not found in this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such broadcast
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/broadcasts/{id}/read:
    post:
      tags:
      - subscriber
      summary: Mark broadcast read
      description: Mark one broadcast as read for this subscriber. Idempotent.
      operationId: markBroadcastRead
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/BroadcastId'
      responses:
        '204':
          description: Read (now or already).
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
        '404':
          description: Resource not found in this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such broadcast
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/broadcasts/{id}/unarchive:
    post:
      tags:
      - subscriber
      summary: Unarchive broadcast
      description: Return one broadcast to this subscriber's inbox. The override survives the archive watermark. Idempotent.
      operationId: unarchiveBroadcast
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/BroadcastId'
      responses:
        '204':
          description: Unarchived (now or already).
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
        '404':
          description: Resource not found in this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such broadcast
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/broadcasts/{id}/unread:
    post:
      tags:
      - subscriber
      summary: Mark broadcast unread
      description: Mark one broadcast as unread for this subscriber. The override survives the read watermark. Idempotent.
      operationId: markBroadcastUnread
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/BroadcastId'
      responses:
        '204':
          description: Unread (now or already).
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
        '404':
          description: Resource not found in this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such broadcast
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/counts:
    get:
      tags:
      - subscriber
      summary: Inbox counts
      description: The subscriber's unread and unseen counts. unread reflects items not yet read; unseen drives the bell badge.
      operationId: getInboxCounts
      responses:
        '200':
          description: Current counts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboxCounts'
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
    post:
      tags:
      - subscriber
      summary: Filtered inbox counts
      description: Exact unread counts for ordered category filters. Categories within one filter use OR semantics. Counts include direct notifications and broadcasts and exclude archived or muted items.
      operationId: getFilteredInboxCounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilteredInboxCountsRequest'
            example:
              filters:
              - categories:
                - payment.succeeded
                - payment.failed
              - categories:
                - refund.created
        required: true
      responses:
        '200':
          description: Counts in request order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredInboxCounts'
        '400':
          description: Malformed or over-limit filter request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: filters must contain 1–100 entries
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/items:
    get:
      tags:
      - subscriber
      summary: List inbox items
      description: The subscriber's inbox, newest first, combining direct notifications and broadcasts. Use cursor for pagination and If-None-Match for conditional fetches.
      operationId: listInboxItems
      parameters:
      - name: cursor
        in: query
        description: Opaque keyset cursor; omit for the first page.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          maximum: 100
          minimum: 1
      - name: filter
        in: query
        description: View filter. Omit for the default view, or `unread` for unread items only.
        required: false
        schema:
          type: string
          enum:
          - unread
          - archived
      - name: If-None-Match
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A page of inbox items.
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `private, max-age=0`.
            ETag:
              schema:
                type: string
              description: Strong validator for this page + read state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboxPage'
        '304':
          description: Not modified (If-None-Match matched).
        '400':
          description: Malformed cursor or out-of-range limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: malformed cursor
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
        '429':
          $ref: '#/components/responses/RateLimited'
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/notifications/{id}/archive:
    post:
      tags:
      - subscriber
      summary: Archive notification
      description: Archive one direct notification. Archiving never changes read state. Idempotent.
      operationId: archiveNotification
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/NotificationId'
      responses:
        '204':
          description: Archived (now or already).
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
        '404':
          description: Resource not found in this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such notification
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/notifications/{id}/read:
    post:
      tags:
      - subscriber
      summary: Mark notification read
      description: Mark one direct notification as read. Idempotent.
      operationId: markNotificationRead
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/NotificationId'
      responses:
        '204':
          description: Read (now or already).
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
        '404':
          description: Resource not found in this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such notification
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/notifications/{id}/unarchive:
    post:
      tags:
      - subscriber
      summary: Unarchive notification
      description: Return one direct notification to the inbox. Read state is untouched. Idempotent.
      operationId: unarchiveNotification
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/NotificationId'
      responses:
        '204':
          description: Unarchived (now or already).
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
        '404':
          description: Resource not found in this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such notification
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/notifications/{id}/unread:
    post:
      tags:
      - subscriber
      summary: Mark notification unread
      description: Mark one direct notification as unread. The override survives the read watermark. Idempotent.
      operationId: markNotificationUnread
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/NotificationId'
      responses:
        '204':
          description: Unread (now or already).
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
        '404':
          description: Resource not found in this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such notification
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/preferences:
    get:
      tags:
      - subscriber
      summary: Get preferences
      operationId: getPreferences
      responses:
        '200':
          description: Explicit preference rows only — absence means enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceList'
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
    put:
      tags:
      - subscriber
      summary: Set preferences
      operationId: setPreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenceWriteList'
        required: true
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceList'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: preferences must contain 1–100 entries
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/read-all:
    post:
      tags:
      - subscriber
      summary: Mark all read
      description: Mark every item, direct and broadcast, as read for this subscriber.
      operationId: markAllRead
      responses:
        '200':
          description: Watermark moved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboxCounts'
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/seen-all:
    post:
      tags:
      - subscriber
      summary: Mark all seen
      description: Clear the unseen count (the bell badge) without changing read state. Called when the inbox opens.
      operationId: markAllSeen
      responses:
        '200':
          description: Watermark moved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboxCounts'
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid subscriber hash
      security:
      - SubscriberEnv: []
        SubscriberHash: []
        SubscriberId: []
  /v1/inbox/stream:
    get:
      tags:
      - subscriber
      summary: Inbox stream
      description: 'A Server-Sent Events stream of hints: each event tells the client to refetch the inbox over REST, so missed events are harmless (the events carry no data). Authenticated via query parameters because EventSource cannot set request headers.'
      operationId: streamInbox
      parameters:
      - name: Last-Event-ID
        in: header
        description: Sent automatically by EventSource on reconnect.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Event stream.
          content:
            text/event-stream:
              schema:
                type: string
                example: |
                  id: 01h455vb4pex5vsknk084sn02q
                  event: hint
                  data: {"reason":"notification"}
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: subscriber hash required
        '429':
          $ref: '#/components/responses/TooManyConnections'
      security:
      - SubscriberEnvQ: []
        SubscriberHashQ: []
        SubscriberIdQ: []
  /v1/notifications:
    post:
      tags:
      - management
      summary: Create notifications
      description: Send a notification to up to 100 subscribers; one item is created per recipient. Use idempotency_key to make retries safe, and deliver_at to schedule delivery up to 13 months ahead (the item stays hidden from the subscriber until then). Unknown subscribers are created automatically. For more than 100 recipients, use a broadcast.
      operationId: createNotifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNotificationsRequest'
        required: true
      responses:
        '200':
          description: Idempotent replay — original response echoed, nothing re-created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNotificationsResponse'
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNotificationsResponse'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: deliver_at must be in the future
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid API key
        '429':
          $ref: '#/components/responses/RateLimited'
      security:
      - ApiKeyBearer: []
  /v1/notifications/{id}/timeline:
    get:
      tags:
      - management
      summary: Notification timeline
      description: 'The history of one notification: when it was created, delivered, seen, and read. Entries are ordered by time. Broadcasts have no per-subscriber timeline.'
      operationId: getNotificationTimeline
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/NotificationId'
      responses:
        '200':
          description: The timeline so far.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTimeline'
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid API key
        '404':
          description: Resource not found in this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such notification
        '429':
          $ref: '#/components/responses/RateLimited'
      security:
      - ApiKeyBearer: []
  /v1/subscribers/{subscriber_id}:
    put:
      tags:
      - management
      summary: Upsert a subscriber
      description: Create or update a subscriber. Subscribers are normally created automatically; use this for imports. On first create, created_at may be backdated to control which past broadcasts the subscriber sees.
      operationId: upsertSubscriber
      parameters:
      - name: subscriber_id
        in: path
        description: Customer-provided subscriber id (e.g. `usr_42`).
        required: true
        schema:
          type: string
          maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                created_at:
                  type: string
                  format: date-time
                  description: Backdate on create only. Ignored if the subscriber exists.
        required: false
      responses:
        '200':
          description: Upserted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: subscriber_id must be 1–255 characters
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid API key
      security:
      - ApiKeyBearer: []
  /v1/subscribers/{subscriber_id}/preferences:
    get:
      tags:
      - management
      summary: Get subscriber preferences
      operationId: getSubscriberPreferences
      parameters:
      - name: subscriber_id
        in: path
        description: Customer-provided subscriber id (e.g. `usr_42`).
        required: true
        schema:
          type: string
          maxLength: 255
      responses:
        '200':
          description: Explicit preference rows only — absence means enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceList'
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid API key
        '404':
          description: Resource not found in this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: not_found
                  message: no such subscriber
      security:
      - ApiKeyBearer: []
    put:
      tags:
      - management
      summary: Set subscriber preferences
      operationId: setSubscriberPreferences
      parameters:
      - name: subscriber_id
        in: path
        description: Customer-provided subscriber id (e.g. `usr_42`).
        required: true
        schema:
          type: string
          maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenceWriteList'
        required: true
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceList'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: invalid_request
                  message: preferences must contain 1–100 entries
        '401':
          description: Missing/invalid API key or subscriber hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unauthorized
                  message: invalid API key
      security:
      - ApiKeyBearer: []
components:
  schemas:
    AdminApiKey:
      type: object
      required:
      - id
      - name
      - key_prefix
      - created_at
      properties:
        created_at:
          type: string
        id:
          type: string
          description: TypeID, `key_…`.
        key_prefix:
          type: string
          description: Display prefix for recognition. The full key is never retrievable.
        last_used_at:
          type: string
          nullable: true
        name:
          type: string
        revoked_at:
          type: string
          nullable: true
    AdminApiKeyCreated:
      type: object
      required:
      - id
      - name
      - key_prefix
      - key
      - created_at
      properties:
        created_at:
          type: string
        id:
          type: string
        key:
          type: string
          description: The plaintext key, shown EXACTLY once. Only the sha256 hash is stored.
        key_prefix:
          type: string
        name:
          type: string
    AdminCounts:
      type: object
      required:
      - unread
      - unseen
      properties:
        unread:
          type: integer
          format: int32
        unseen:
          type: integer
          format: int32
    AdminCreateApiKeyRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
    AdminCreateBroadcastRequest:
      type: object
      required:
      - category
      properties:
        category:
          type: string
        idempotency_key:
          type: string
          nullable: true
        payload: {}
    AdminCreateEnvironmentRequest:
      type: object
      required:
      - slug
      - name
      properties:
        name:
          type: string
        require_subscriber_hash:
          type: boolean
          description: Production default true. Set false for a dev/quickstart environment.
        slug:
          type: string
    AdminCreateUserRequest:
      type: object
      required:
      - email
      - name
      - role
      - password
      properties:
        email:
          type: string
        name:
          type: string
        password:
          type: string
          description: At least 12 characters (server-enforced). The UI shows it once.
        role:
          type: string
    AdminDeadLetter:
      type: object
      required:
      - id
      - environment_slug
      - job_type
      - attempts
      - last_error
      - parked_at
      properties:
        attempts:
          type: integer
          format: int32
        environment_slug:
          type: string
        id:
          type: string
          description: TypeID, `job_…` (stable across park/replay).
        job_type:
          type: string
        last_error:
          type: string
        parked_at:
          type: string
    AdminEnvironment:
      type: object
      required:
      - id
      - slug
      - name
      - require_subscriber_hash
      - created_at
      properties:
        created_at:
          type: string
        id:
          type: string
          description: TypeID, `env_…`.
        name:
          type: string
        require_subscriber_hash:
          type: boolean
        slug:
          type: string
    AdminEnvironmentDetail:
      type: object
      required:
      - id
      - slug
      - name
      - require_subscriber_hash
      - has_previous_secret
      - created_at
      properties:
        created_at:
          type: string
        has_previous_secret:
          type: boolean
          description: |-
            True while a rotation overlap is open (the previous secret still
            verifies live `<Inbox />` sessions).
        id:
          type: string
        name:
          type: string
        require_subscriber_hash:
          type: boolean
        slug:
          type: string
        subscriber_hmac_rotated_at:
          type: string
          nullable: true
        subscriber_hmac_secret:
          type: string
          description: |-
            The dedicated subscriber HMAC secret. Plaintext by design. The customer
            backend computes hashes with it. Returned only to roles holding
            `env:read_secret` (developer/admin). Omitted otherwise.
          nullable: true
    AdminHmacRotation:
      type: object
      required:
      - subscriber_hmac_secret
      - has_previous_secret
      properties:
        has_previous_secret:
          type: boolean
        subscriber_hmac_rotated_at:
          type: string
          nullable: true
        subscriber_hmac_secret:
          type: string
          description: |-
            The new current secret. Update the customer backend with it. The
            previous secret keeps verifying until the rotation is completed.
    AdminInboxItem:
      type: object
      required:
      - id
      - source
      - category
      - payload
      - occurred_at
      - read
      properties:
        category:
          type: string
        id:
          type: string
        occurred_at:
          type: string
        payload: {}
        read:
          type: boolean
        source:
          type: string
    AdminLoginRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
        password:
          type: string
    AdminMe:
      type: object
      required:
      - id
      - email
      - name
      - role
      - capabilities
      properties:
        capabilities:
          type: array
          items:
            type: string
          description: |-
            Capability strings the SPA gates UI on (server-side enforcement is the
            real boundary).
        email:
          type: string
        id:
          type: string
          description: TypeID, `adm_…`.
        name:
          type: string
        role:
          type: string
          description: '''viewer'' | ''operator'' | ''developer'' | ''admin''.'
    AdminNotification:
      type: object
      required:
      - id
      - subscriber_id
      - category
      - payload
      - created_at
      - visible_at
      properties:
        category:
          type: string
        created_at:
          type: string
        deliver_at:
          type: string
          nullable: true
        id:
          type: string
          description: TypeID, `notif_…`.
        payload: {}
        read_at:
          type: string
          nullable: true
        subscriber_id:
          type: string
        visible_at:
          type: string
    AdminNotificationPage:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AdminNotification'
        next_cursor:
          type: string
          nullable: true
    AdminNotificationTimeline:
      type: object
      required:
      - id
      - subscriber_id
      - timeline
      properties:
        id:
          type: string
        subscriber_id:
          type: string
        timeline:
          type: array
          items:
            $ref: '#/components/schemas/AdminTimelineEntry'
    AdminPreference:
      type: object
      required:
      - category
      - channel
      - enabled
      properties:
        category:
          type: string
        channel:
          type: string
        enabled:
          type: boolean
    AdminReplayResult:
      type: object
      required:
      - replayed
      properties:
        replayed:
          type: integer
          format: int64
          description: Number of parked jobs moved back into the claim path.
    AdminSetPasswordRequest:
      type: object
      required:
      - password
      properties:
        password:
          type: string
    AdminSubscriberView:
      type: object
      required:
      - subscriber_id
      - created_at
      - counters
      - read_watermark
      - seen_watermark
      - preferences
      - inbox
      properties:
        counters:
          $ref: '#/components/schemas/AdminCounts'
        created_at:
          type: string
          description: Governs broadcast visibility (`broadcast.created_at >= this`).
        inbox:
          type: array
          items:
            $ref: '#/components/schemas/AdminInboxItem'
          description: |-
            The subscriber's recent merged inbox, from the SAME canonical query
            the subscriber plane serves.
        preferences:
          type: array
          items:
            $ref: '#/components/schemas/AdminPreference'
        read_watermark:
          type: string
        seen_watermark:
          type: string
        subscriber_id:
          type: string
    AdminTimelineEntry:
      type: object
      required:
      - status
      - occurred_at
      properties:
        occurred_at:
          type: string
        status:
          type: string
    AdminUpdateUserRequest:
      type: object
      properties:
        disabled:
          type: boolean
          nullable: true
        name:
          type: string
          nullable: true
        role:
          type: string
          nullable: true
    AdminUserView:
      type: object
      required:
      - id
      - email
      - name
      - role
      - disabled
      - created_at
      - updated_at
      properties:
        created_at:
          type: string
        disabled:
          type: boolean
        email:
          type: string
        id:
          type: string
          description: TypeID, `adm_…`.
        name:
          type: string
        role:
          type: string
        updated_at:
          type: string
    Broadcast:
      type: object
      required:
      - id
      - category
      - payload
      - created_at
      - idempotency_key
      properties:
        category:
          type: string
        created_at:
          type: string
          format: date-time
        id:
          $ref: '#/components/schemas/BroadcastId'
        idempotency_key:
          type: string
        payload:
          $ref: '#/components/schemas/Payload'
    BroadcastId:
      type: string
      description: 'TypeID: `bcast_` + UUIDv7 suffix (Crockford base32).'
      pattern: ^bcast_[0-7][0-9a-hjkmnp-tv-z]{25}$
      example: bcast_01h455vb4pex5vsknk084sn02q
    CreateBroadcastRequest:
      type: object
      required:
      - category
      properties:
        category:
          type: string
          maxLength: 255
          example: product.update
        idempotency_key:
          type: string
          maxLength: 255
        payload:
          $ref: '#/components/schemas/Payload'
    CreateNotificationsRequest:
      type: object
      description: Exactly one of `subscriber_id` / `subscriber_ids` is required.
      required:
      - category
      properties:
        category:
          type: string
          maxLength: 255
          example: payment.failed
        deliver_at:
          type: string
          format: date-time
          description: Scheduled delivery; must be in the future, at most 13 months out.
        idempotency_key:
          type: string
          description: Client-supplied; server-generated and echoed if omitted. Covers the whole batch.
          maxLength: 255
        payload:
          $ref: '#/components/schemas/Payload'
        subscriber_id:
          type: string
          description: 'Single-recipient sugar for `subscriber_ids: [x]`.'
          maxLength: 255
        subscriber_ids:
          type: array
          items:
            type: string
            maxLength: 255
          description: Recipients; one notification row each. >100 → use a broadcast.
          maxItems: 100
          minItems: 1
    CreateNotificationsResponse:
      type: object
      required:
      - idempotency_key
      - notifications
      properties:
        idempotency_key:
          type: string
        notifications:
          type: array
          items:
            type: object
            required:
            - id
            - subscriber_id
            properties:
              id:
                $ref: '#/components/schemas/NotificationId'
              subscriber_id:
                type: string
    Error:
      type: object
      description: Error envelope. Every non-2xx response has this shape.
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
              description: Stable, machine-readable code. Branch on this, not on the HTTP status or `message`. The error table in the API description lists every code.
              enum:
              - invalid_request
              - unauthorized
              - forbidden
              - not_found
              - conflict
              - rate_limited
              - too_many_connections
              - internal
              example: invalid_request
            message:
              type: string
              description: Human-readable detail, for logs and developers. Not stable, do not parse.
    FilteredInboxCount:
      type: object
      required:
      - unread
      properties:
        unread:
          type: integer
          minimum: 0
    FilteredInboxCounts:
      type: object
      required:
      - counts
      properties:
        counts:
          type: array
          items:
            $ref: '#/components/schemas/FilteredInboxCount'
          description: Results in the same order as the request filters.
          maxItems: 100
          minItems: 1
    FilteredInboxCountsRequest:
      type: object
      description: Ordered category filters. The complete request is limited to 100 category entries.
      required:
      - filters
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/InboxCountFilter'
          maxItems: 100
          minItems: 1
    InboxCountFilter:
      type: object
      required:
      - categories
      properties:
        categories:
          type: array
          items:
            type: string
            maxLength: 255
          description: Exact category names combined with OR semantics.
          maxItems: 100
          minItems: 1
    InboxCounts:
      type: object
      required:
      - unread
      - unseen
      properties:
        unread:
          type: integer
          minimum: 0
        unseen:
          type: integer
          minimum: 0
    InboxItem:
      type: object
      required:
      - id
      - source
      - category
      - payload
      - occurred_at
      - read
      - archived
      properties:
        archived:
          type: boolean
          description: Computed — per-item override OR at-or-below the archive watermark.
        category:
          type: string
        id:
          oneOf:
          - $ref: '#/components/schemas/NotificationId'
          - $ref: '#/components/schemas/BroadcastId'
          description: The TypeID prefix already encodes the source; `source` is kept as the explicit discriminator.
        occurred_at:
          type: string
          format: date-time
          description: The ordering timestamp — `visible_at` for direct, `created_at` for broadcast.
        payload:
          $ref: '#/components/schemas/Payload'
        read:
          type: boolean
          description: Computed — per-item exception OR at-or-below the read watermark.
        source:
          type: string
          description: Routes mark-read to the right endpoint; the SDK handles this.
          enum:
          - notification
          - broadcast
    InboxPage:
      type: object
      required:
      - items
      - next_cursor
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InboxItem'
        next_cursor:
          type: string
          description: Opaque keyset token; null when the last page is reached.
          nullable: true
    NotificationId:
      type: string
      description: 'TypeID: `notif_` + UUIDv7 suffix (Crockford base32).'
      pattern: ^notif_[0-7][0-9a-hjkmnp-tv-z]{25}$
      example: notif_01h455vb4pex5vsknk084sn02q
    NotificationTimeline:
      type: object
      required:
      - id
      - subscriber_id
      - timeline
      properties:
        id:
          $ref: '#/components/schemas/NotificationId'
        subscriber_id:
          type: string
        timeline:
          type: array
          items:
            $ref: '#/components/schemas/TimelineEntry'
          description: Append-only; ordered by `occurred_at`.
    Payload:
      type: object
      description: |
        Customer-defined JSON, delivered to the widget verbatim — the server
        never reads it (no templates, no interpretation). Max 16 KiB serialized.

        The optional **well-known fields** below are what the default
        `<Inbox />` rendering understands; a payload with none of them renders
        as category + timestamp only. All other fields ride along untouched
        for custom renderers (`renderItem`). Keys are snake_case: payloads are
        wire format and are never case-transformed by the SDK.
      properties:
        action_url:
          type: string
          format: uri
          description: Followed on item click by the default renderer (after mark-read).
        body:
          type: string
          description: Secondary line; treated as plain text, never HTML.
        icon_url:
          type: string
          format: uri
          description: Leading icon/avatar in the default rendering.
        title:
          type: string
          description: First line of the default item rendering.
      additionalProperties: true
    Preference:
      type: object
      required:
      - category
      - channel
      - enabled
      properties:
        category:
          type: string
        channel:
          type: string
          description: Only `in_app` in v1; push channels later, no contract break.
          enum:
          - in_app
        enabled:
          type: boolean
    PreferenceList:
      type: object
      required:
      - preferences
      properties:
        preferences:
          type: array
          items:
            $ref: '#/components/schemas/Preference'
    PreferenceWriteList:
      type: object
      description: Partial upsert — listed (category, channel) pairs are written; unlisted pairs are untouched. Setting enabled=true deletes the explicit row (absence means enabled).
      required:
      - preferences
      properties:
        preferences:
          type: array
          items:
            $ref: '#/components/schemas/Preference'
          maxItems: 100
          minItems: 1
    Subscriber:
      type: object
      required:
      - subscriber_id
      - created_at
      properties:
        created_at:
          type: string
          format: date-time
          description: Governs broadcast visibility for this subscriber.
        subscriber_id:
          type: string
    TimelineEntry:
      type: object
      required:
      - status
      - occurred_at
      properties:
        occurred_at:
          type: string
          format: date-time
        status:
          type: string
          description: Statuses appear as they happen; unknown future statuses must be ignored by clients.
          enum:
          - created
          - delivered_hint
          - seen
          - read
  responses:
    BadRequest:
      description: Validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found in this environment.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Per-API-key (management) or per-subscriber (widget) rate limit.
      headers:
        retry-after:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: rate_limited
              message: rate limit exceeded
    TooManyConnections:
      description: Per-subscriber live-stream connection cap reached.
      headers:
        retry-after:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: too_many_connections
              message: too many concurrent streams for this subscriber
    Unauthorized:
      description: Missing/invalid API key or subscriber hash.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    AdminSession:
      type: apiKey
      in: cookie
      name: chimely_admin
      description: Server-side admin session cookie, set by POST /admin/api/login.
    ApiKeyBearer:
      type: http
      scheme: bearer
      description: Environment-scoped management API key.
    SubscriberEnv:
      type: apiKey
      in: header
      name: X-Chimely-Environment
    SubscriberEnvQ:
      type: apiKey
      in: query
      name: environment
    SubscriberHash:
      type: apiKey
      in: header
      name: X-Chimely-Subscriber-Hash
      description: Optional when the environment has require_subscriber_hash = false.
    SubscriberHashQ:
      type: apiKey
      in: query
      name: subscriber_hash
    SubscriberId:
      type: apiKey
      in: header
      name: X-Chimely-Subscriber
    SubscriberIdQ:
      type: apiKey
      in: query
      name: subscriber_id
  parameters:
    SubscriberIdPath:
      name: subscriber_id
      in: path
      required: true
      schema:
        type: string
        maxLength: 255
      description: Customer-provided subscriber id (e.g. `usr_42`).
    NotificationIdPath:
      name: id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/NotificationId'
    BroadcastIdPath:
      name: id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/BroadcastId'
security: []
tags:
- name: management
  description: Backend-to-Chimely. Bearer API key.
- name: subscriber
  description: Widget-to-Chimely. HMAC subscriber hash.
- name: admin
  description: Instance admin dashboard. Built-in users, session cookie.
